.demo-grid.mdl-grid {
  border:0px solid ; 
  height: auto; 
  padding:5px;
  width: auto;
  background:#dddddd;
 }
.demo-mdl.mdl-card {
  border:1px solid ; 
  margin:5px;
  width:auto;
  height:320px;
 }
.demo-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 20px;
  margin-top: 5px;
  height:220px;
}
